<div class="container">
  <div class="row">
    <div class="col-xs-12">
  <p>Assignment Practice</p>
      <hr>
      <!--<button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button>-->
      <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
      <p *ngIf="showSecret">Button working Successfully</p>
      <div
        *ngFor="let logItem of title"
        [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"
        [ngClass]="{'white-text': logItem >= 5}">{{ logItem }}</div>
    </div>
  </div>
</div>
<app-img-binding></app-img-binding>